# admin


idea/
# compiled output
/admin/dist
/admin/tmp
/admin/out-tsc
# Only exists if Bazel was run
/admin/bazel-out

# dependencies
admin/node_modules

# profiling files
admin/chrome-profiler-events.json
admin/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/admin/.sass-cache
/admin/connect.lock
/admin/coverage
/admin/libpeerconnection.log
admin/npm-debug.log
admin/yarn-error.log
admin/testem.log
/admin/typings

# compiled output
/client/dist
/client/tmp
/client/out-tsc
# Only exists if Bazel was run
/client/bazel-out

# dependencies
client/node_modules

# profiling files
client/chrome-profiler-events.json
client/speed-measure-plugin.json

# misc
/client/.sass-cache
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
client/npm-debug.log
client/yarn-error.log
client/testem.log
/client/typings

# System Files
.DS_Store
Thumbs.db