<div class="header">
  <h2 class="dealer">dealer#<span class="dealer__id">{{ dealerId }}</span></h2>
  <button>Создать акцию</button>
</div>
<div class="stocks">
  <h3 class="section__title">Акции</h3>
  <div class="stock">
    <h4 class="stock__title">Звонок на миллион</h4>
    <div class="stock__desc">
      <ul class="stock__services">
        <li>Трафик</li>
      </ul>
      <ul class="stock__services">
        <li>Тариф: Всё включено</li>
        <li>Баланс: 250</li>
        <li>Дней с момента регистрации: 1095</li>
      </ul>
    </div>
  </div>
</div>
<div class="orders">
  <h3 class="section__title">Заказы</h3>
</div>
