<div class="header">
  <div class="header__title">
    <i class="icon header__logo"></i>
    Личный кабинет
  </div>
  <div class="header__right-wrap">
    <div class="header__balance">
      <i class="icon header__balance-icon"></i>
      {{ balance }} ₽
    </div>
    <div class="header__user">
      <i class="icon header__user-icon"></i>
      +7 {{ msisdn }}
    </div>
  </div>
</div>
<div class="body">
  <div class="sidebar">
    <div class="sidebar__title">Счёт</div>
    <ul class="sidebar__list">
      <li>
        <p class="sidebar__category-name">Доступно на сегодня, {{ date }}</p>
        <p class="sidebar__category-value">{{ balance }} ₽</p>
      </li>
      <li>
        <p class="sidebar__category-name">Мой номер</p>
        <p class="sidebar__category-value">+7 {{ msisdn }}</p>
      </li>
      <li>
        <p class="sidebar__category-name">Тариф</p>
        <p class="sidebar__category-value">{{ tariff }}</p>
      </li>
      <li>
        <p class="sidebar__category-name">Дилер</p>
        <p class="sidebar__category-value">{{ dealer }}</p>
      </li>
    </ul>
  </div>
  <div class="main">
    <h3 class="main__title">Акции</h3>
    <p class="error">{{error}}</p>
    <div class="main__list">
      <ng-container *ngFor="let stock of stocks">
        <div class="stock" *ngIf="stock.status !== 'closed'">
          <div class="stock__Left-wrap">
            <h4 class="stock__title">{{stock.stock_name}}</h4>
            <p class="stock__desc">{{stock.description}}</p>
            <pre class="stock__more">{{descTip(stock.services)}}</pre>
          </div>
          <button class="stock__connect" (click)="connect(stock.stock_id)">Подключить</button>
        </div>
      </ng-container>
    </div>
    <h3 class="main__title">Подключённые</h3>
    <div class="main__list">
      <div class="stock" *ngFor="let stock of userStocks">
        <h4 class="stock__title">{{stock.name}}</h4>
      </div>
    </div>
  </div>
</div>
